In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
# Data preparation

In [3]:
historicalsale=pd.read_csv("E:\工作\百威\(Replace)Historical Sales Volume 2016.1-2019.11.csv")
masterdata=pd.read_csv("E:\工作\百威\(Replace)Product Master Data.csv")
commercialplanning=pd.read_csv("E:\工作\百威\(Replace)Commercial Planning.csv")

In [4]:
calendar=pd.read_csv("C:/Users/mings/BUD/rearranged_sale.csv")

In [5]:
historicalsale['Date']=historicalsale['Date'].apply(lambda x: datetime.strptime(x,'%Y/%m/%d'))

In [6]:
historicalsale.set_index('Date',inplace=True)
historicalsale

            Year  Month      YM   SalesRegion  SKU Code  VolumeHL
Date
2016-01-02  2016      1  201601  Heilongjiang         1      2020
2016-01-02  2016      1  201601  Heilongjiang         4        79
2016-01-02  2016      1  201601  Heilongjiang         9       138
2016-01-02  2016      1  201601  Heilongjiang        11        32
2016-01-02  2016      1  201601  Heilongjiang        13        95
...          ...    ...     ...           ...       ...       ...
2019-11-30  2019     11  201911         Jilin        63      1056
2019-11-30  2019     11  201911         Jilin        64      1831
2019-11-30  2019     11  201911         Jilin        66        43
2019-11-30  2019     11  201911         Jilin        68      1521
2019-11-30  2019     11  201911         Jilin        69       337

[53040 rows x 6 columns]

In [7]:
masterdata

    SKU Code         Brand       Package     Segment
0          1  middle-end 2    Big Bottle  middle-end
1          2  middle-end 2    Big Bottle  middle-end
2          3  middle-end 2       Big Can  middle-end
3          4  middle-end 2  Small Bottle  middle-end
4          5    high-end 2    Big Bottle    high-end
..       ...           ...           ...         ...
64        65  middle-end 1    Big Bottle  middle-end
65        66     low-end 1    Big Bottle     low-end
66        67     low-end 3    Big Bottle     low-end
67        68     low-end 1    Big Bottle     low-end
68        69     low-end 1    Big Bottle     low-end

[69 rows x 4 columns]

In [8]:
commercialplanning

          YM   SalesRegion  SKU Code  Price  Rebate  PromotionVolume  Discount
0     201601  Heilongjiang         1    NaN  315557                0  15270111
1     201601  Heilongjiang         3    NaN    2499                0     19373
2     201601  Heilongjiang         4    NaN   12866                0    761783
3     201601  Heilongjiang         5    NaN   12397                0     96606
4     201601  Heilongjiang         8    NaN   49817                0     50453
...      ...           ...       ...    ...     ...              ...       ...
3975  202003         Jilin         6  316.8     516                0      5923
3976  202003         Jilin         7  336.0    5067                0     57815
3977  202003  Heilongjiang        38  350.0       0                0      4561
3978  202003  Heilongjiang        37  425.4    5588                0     44355
3979  202003         Jilin        37  425.4    4624                0     27739

[3980 rows x 7 columns]

In [9]:
# load temperature
Htem=pd.read_csv("E:\工作\百威\Data\HWeather_t.csv")
Jtem=pd.read_csv("E:\工作\百威\Data\JWeather_t.csv")
#Htem.info()
Htem

            Date Temp_max Temp_min
0     2016-01-01      -5℃     -20℃
1     2016-01-02     -13℃     -23℃
2     2016-01-03     -12℃     -25℃
3     2016-01-04     -12℃     -21℃
4     2016-01-05     -11℃     -18℃
...          ...      ...      ...
1485  2020-01-27      -4℃     -15℃
1486  2020-01-28     -10℃     -19℃
1487  2020-01-29      -8℃     -22℃
1488  2020-01-30     -11℃     -24℃
1489  2020-01-31     -11℃     -27℃

[1490 rows x 3 columns]

In [11]:
import re

In [12]:
Htem['Temp_max']=Htem['Temp_max'].map(lambda x: re.match('(.*)℃',x)[1])
Htem['Temp_max']=Htem['Temp_max'].astype(int)
Htem['Temp_min']=Htem['Temp_min'].map(lambda x: re.match('(.*)℃',x)[1])
Htem['Temp_min']=Htem['Temp_min'].astype(int)

In [13]:
Htem['Date']=Htem['Date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [14]:
Htem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1490 non-null   datetime64[ns]
 1   Temp_max  1490 non-null   int32
 2   Temp_min  1490 non-null   int32
dtypes: datetime64[ns](1), int32(2)
memory usage: 23.4 KB

In [15]:
Jtem['Temp_min']=Jtem['Temp_min'].map(lambda x: re.match('(.*)℃',x)[1])
Jtem['Temp_max']=Jtem['Temp_max'].map(lambda x: re.match('(.*)℃',x)[1])
Jtem['Temp_max']=Jtem['Temp_max'].astype(int)
Jtem['Temp_min']=Jtem['Temp_min'].astype(int)
Jtem['Date']=Jtem['Date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [16]:
Htem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1490 non-null   datetime64[ns]
 1   Temp_max  1490 non-null   int32
 2   Temp_min  1490 non-null   int32
dtypes: datetime64[ns](1), int32(2)
memory usage: 23.4 KB

In [17]:
def createdataset(totalset, historicalsale, masterdata, planning, rolling, lagging):
    totalset.index=historicalsale.index
    totalset[['Year','Month','SalesRegion','SKU Code']]=historicalsale[['Year','Month','SalesRegion','SKU Code']]
    totalset['Weekday']=totalset.index.map(lambda x:x.weekday())
    # add temperaature and other time series related features
    # temperature corresponding to date and region

In [18]:
totalset=pd.DataFrame(index=range(len(historicalsale)))
createdataset(totalset, historicalsale, masterdata, commercialplanning, 5, 6)
totalset

            Year  Month   SalesRegion  SKU Code  Weekday
Date
2016-01-02  2016      1  Heilongjiang         1        5
2016-01-02  2016      1  Heilongjiang         4        5
2016-01-02  2016      1  Heilongjiang         9        5
2016-01-02  2016      1  Heilongjiang        11        5
2016-01-02  2016      1  Heilongjiang        13        5
...          ...    ...           ...       ...      ...
2019-11-30  2019     11         Jilin        63        5
2019-11-30  2019     11         Jilin        64        5
2019-11-30  2019     11         Jilin        66        5
2019-11-30  2019     11         Jilin        68        5
2019-11-30  2019     11         Jilin        69        5

[53040 rows x 5 columns]