In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
# Data preparation

In [9]:
historicalsale=pd.read_csv("E:\工作\百威\(Replace)Historical Sales Volume 2016.1-2019.11.csv")
masterdata=pd.read_csv("E:\工作\百威\(Replace)Product Master Data.csv")
commercialplanning=pd.read_csv("E:\工作\百威\(Replace)Commercial Planning.csv")

In [12]:
calendar=pd.read_csv("C:/Users/mings/BUD/rearranged_sale.csv")

In [13]:
historicalsale

       Year  Month      YM        Date   SalesRegion  SKU Code  VolumeHL
0      2016      1  201601    2016/1/2  Heilongjiang         1      2020
1      2016      1  201601    2016/1/2  Heilongjiang         4        79
2      2016      1  201601    2016/1/2  Heilongjiang         9       138
3      2016      1  201601    2016/1/2  Heilongjiang        11        32
4      2016      1  201601    2016/1/2  Heilongjiang        13        95
...     ...    ...     ...         ...           ...       ...       ...
53035  2019     11  201911  2019/11/30         Jilin        63      1056
53036  2019     11  201911  2019/11/30         Jilin        64      1831
53037  2019     11  201911  2019/11/30         Jilin        66        43
53038  2019     11  201911  2019/11/30         Jilin        68      1521
53039  2019     11  201911  2019/11/30         Jilin        69       337

[53040 rows x 7 columns]

In [14]:
historicalsale['Date']=historicalsale['Date'].apply(lambda x: datetime.strptime(x,'%Y/%m/%d'))

In [15]:
masterdata

    SKU Code         Brand       Package     Segment
0          1  middle-end 2    Big Bottle  middle-end
1          2  middle-end 2    Big Bottle  middle-end
2          3  middle-end 2       Big Can  middle-end
3          4  middle-end 2  Small Bottle  middle-end
4          5    high-end 2    Big Bottle    high-end
..       ...           ...           ...         ...
64        65  middle-end 1    Big Bottle  middle-end
65        66     low-end 1    Big Bottle     low-end
66        67     low-end 3    Big Bottle     low-end
67        68     low-end 1    Big Bottle     low-end
68        69     low-end 1    Big Bottle     low-end

[69 rows x 4 columns]

In [16]:
commercialplanning

          YM   SalesRegion  SKU Code  Price  Rebate  PromotionVolume  Discount
0     201601  Heilongjiang         1    NaN  315557                0  15270111
1     201601  Heilongjiang         3    NaN    2499                0     19373
2     201601  Heilongjiang         4    NaN   12866                0    761783
3     201601  Heilongjiang         5    NaN   12397                0     96606
4     201601  Heilongjiang         8    NaN   49817                0     50453
...      ...           ...       ...    ...     ...              ...       ...
3975  202003         Jilin         6  316.8     516                0      5923
3976  202003         Jilin         7  336.0    5067                0     57815
3977  202003  Heilongjiang        38  350.0       0                0      4561
3978  202003  Heilongjiang        37  425.4    5588                0     44355
3979  202003         Jilin        37  425.4    4624                0     27739

[3980 rows x 7 columns]

In [19]:
# load temperature

In [17]:
def createdataset(totalset, historicalsale, masterdata, planning, rolling, lagging):
    totalset[['Year','Month','SalesRegion','SKU Code']]=historicalsale[['Year','Month','SalesRegion','SKU Code']]
    totalset['Weekday']=historicalsale['Date'].map(lambda x:x.weekday())
    # add temperaature and other time series related features
    # temperature

In [18]:
totalset=pd.DataFrame(index=range(len(historicalsale)))
createdataset(totalset, historicalsale, masterdata, commercialplanning, 5, 6)
totalset

       Year  Month   SalesRegion  SKU Code  Weekday
0      2016      1  Heilongjiang         1        5
1      2016      1  Heilongjiang         4        5
2      2016      1  Heilongjiang         9        5
3      2016      1  Heilongjiang        11        5
4      2016      1  Heilongjiang        13        5
...     ...    ...           ...       ...      ...
53035  2019     11         Jilin        63        5
53036  2019     11         Jilin        64        5
53037  2019     11         Jilin        66        5
53038  2019     11         Jilin        68        5
53039  2019     11         Jilin        69        5

[53040 rows x 5 columns]